<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bitshares.bitshareswallet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".BitsharesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpButtonActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_sign_up_button"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme" />
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/ActivityTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImportActivty"
            android:theme="@style/ActivityTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModelSelectActivity"
            android:theme="@style/ActivityTheme"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1516f2abc1f71a4a06a0b84c26caaa01398302fb" />

        <activity android:name=".SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AboutActivity"
            android:theme="@style/ActivityTheme"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>